.navbar {
    background-color: #303A4A;
    color: white;
    height: 7vh;
    font-size: 30px;
    font-weight: 700;
}

.nav-logo {
    margin: 0 10px 0 10px;
}

.welcome-user {
    align-items: right;
}

.link {
    color: white;
}