.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style: double;
    border-radius: 10px;
    padding: 20px;
  }
  
.card {
  background-color: lightgray;
  margin: auto;
  width: 20vw;
  padding-top: 2vh;
  border: black;
  border-radius: 5px;
  border-style: solid;
}

.card:hover {
  transform: scale(1.1);
}

.messages-list {
  border-style: solid;
  width: 30vw;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-form {
  width: 30vw;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.message-form-input {
  width: 25vw;
  margin: 10px;
}

.message-form-label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
  color: black;
  font-weight: bolder;
}

.details-page {
  display: flex;
  justify-content: space-evenly;
}






/* .title {
  margin: 1vw;
  background-color: white;
  border-radius: 4px;
} */

/* .item-card {
  background-color: #eee;
  border-style: solid;
  margin: 1vw;
  border-radius: 5px;
  border-width: 0.5px;
  border-color: rgba(150, 150, 150, 0.5);
  text-align: center;
  height: 30vh;
  width: 30vw;
} */