.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style: double;
    border-radius: 10px;
  }
  
  .item-card {
    background-color: #eee;
    border-style: solid;
    margin: 1vw;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: rgba(150, 150, 150, 0.5);
    text-align: center;
    height: 30vh;
    width: 30vw;
  }
  
  .item-card:hover {
    transform: scale(1.1);
  }